body,p,h1,h2,h3,h4,h5,h6,input,button{
  font-family: 'Poppins', sans-serif !important;
}
.dropdown-toggle::after {
  display: none !important;
}
.dropdown-arrow {
  border: none;
  background: none;
  outline: none !important;
}
.categories-menu.dropdown-submenu.dropdown-item{
  padding: 0px;
}
.dropdown-submenu img.category-image.loading {
  max-width: 21px;
  margin-right: 8px;
  margin-bottom: 4px;
  position: absolute;
    left: 10px;
}
.dropdown-menu li a {
  font-size: 13px;
  font-weight: 400;
  color: #29303b;
}
.categories-menu li a {
  position: relative;
  padding: 10px 10px 6px 40px;
}
.dropdown-menu.categories-menu{
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
  border-radius: 0;
  width: 240px;
  position: absolute;
  will-change: transform;
  top: 50px;
  left: 0px;
  transform: translate3d(0px, -2px, 0px);
}
.dropdown-menu li a:hover {
  background: hsla(0,0%,87%,.5)!important;
  color: #29303b!important;
}
.header-menu a.header-signup {
  color: #fff!important;
  background-color: #ff0060;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 8px 30px;
  font-size: 14px;
}
.header-menu a.header-signup {
  text-decoration: none;
}
.header-menua.header-signup:hover {
  background-color: #ff0031!important;
  border-color: transparent;
}
img.img-section {
  width: 428px;
  height: 536px;
} 
.header-search input{
  width: 319px;
  height: 48px;
  background: #F6F7F9;
  box-shadow: 44px 4px 100px rgba(129, 106, 255, 0.1);
  border-radius: 5px;
  border: 0;
}
h1.page-title {
  font-style: normal;
  font-size: 50px;
  line-height: 75px;
  color: #000000;
  margin-top: 100px;
}
.title-pre-text{
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 33px;
  color: #858585;
}
.start-courses button.btn.btn-light {
  background: #FFFFFF;
  box-shadow: 4px 4px 44px rgba(1, 107, 243, 0.1);
  border-radius: 20px;
  padding: 17px 60px;
  color: #016BF3;
}
.start-courses button.btn.btn-light:hover {
  border: 1px solid #016BF3;
  background: #fff;
  color:#016BF3;
}
.start-courses {
  display: flex;
}
.video-courses {
  padding-top: 10px;
  padding-left: 50px;
}
.video-courses .fa-play {
  background: #016BF3;
  color: #fff;
  padding: 11px 11px 12px 14px;
  border-radius: 100px;
}
.navbar {
  box-shadow: 44px 4px 100px rgba(129, 106, 255, 0.1);
}
a.nav-link.active {
  color: #016BF3;
  border-radius: 22px;
  border: 2px solid #016BF3;
}
.gray-light-bg{
  background: rgba(246, 247, 249, 0.7);
}

.technology-list li.nav-item {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding-left: 7px;
  padding-right: 7px;
}
.technology-list a {
  color: #858585;
}
.learn-technology  .image-ticker {
  cursor: pointer;
 }
 img.img-circle.image-ticker {
  border-radius: 24px;
}
.content-language h6 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  padding-top: 10px;
}
.slider-custom .owl-carousel .owl-item {
  width: 280px !important;
}
.slider-custom .owl-wrapper {
  width: max-content !important;
}
.slider-learn .owl-item {
  width: 325px !important;
}
.slider-learn .owl-wrapper {
  width: max-content !important;
}
.owl-prev i {
  float: left;
  border: 1px solid white;
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  color: #016BF3;
  padding: 15px 17px;
  border-radius: 26px;
  margin-top: 53px;
  margin-right: 15px;
}
.owl-next i {
  float: left;
  border: 1px solid white;
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  color: #016BF3;
  padding: 15px 17px;
  border-radius: 26px;
  margin-top: 53px;
  margin-right: 15px;
}
.left-courses .fa {
  cursor: pointer;
}
.react-pen {
  padding-top: 40px;
  padding-bottom: 40px;
}
h2.slider-technology {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
}
.Owl-Carousel-Slider img {
    width: 100%;
    height: 902px;
    object-fit: cover;
}
.carousel-caption.center-technology {
  width: 421px;
  height: 196px;
  top: 14%;
  left: 33% !important;
}
.center-technology h3 {                                                                                                                                                   
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 51px;
color: #FFFFFF;
}
.center-technology p {
  font-weight: 300;
  font-size: 16px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
}
h4.word-technology {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
}
h4.word-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  color: #626780;
}
p.line-technology { 
  font-size: 16px;
  line-height: 30px;
  color: #858585;
  text-align: center
}
.social-media-icons .fa{
  background: #fff;
  color: #0000EA;
}
.social-media-icons i.fa {
  padding: 6px 8px;
  font-size: 24px;
  border-radius: 50% !important;
  cursor: pointer; 
}
h4.learn {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
.word p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #FFFFFF;
  
}
.CodeMirror-line{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.cm-property h6{
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 30px;
}
.cm-property span {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
span.text-white.copyright {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
    padding-left: 40px;
}
.round-img img{
  width:65px;
}

.img-contact{
  position: relative;
}
.img-contact img{
  width: 569px;
  height: 600px;
}
/* p.card-section {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #9D9D9D;
}
h6.card-sec {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #626780;
} 
p.mb-0.card {
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  color: #9D9D9D;
} */
.color-title {
    background-color: #000000!important;

}
.view-image {
  margin-bottom: 80px;
}
.view-images-sec{
  width:550px;
  height: 580px;
  right:12%;
  background: rgba(36, 215, 255, 0.5);
  border:none;
  border-radius:50%;
  position: absolute;
}

.round-images-sec{
  width: 30px;
  height: 30px;
  top: 63%;
  right: 4%;
  background: rgba(129, 106, 255, 0.5);
  border: none;
  border-radius: 50%;
  position: absolute;
}
.shadow-effect {
  background: #fff;
  padding: 14px;
  border-radius: 24px;
  text-align: center;
  border:1px solid #ECECEC;
  box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
#customers-testimonials .item {
  text-align: center;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1.0, 1.0, 1);
  transform: scale3d(1.0, 1.0, 1);
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  background: #3190E7;
  transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots{
display: inline-block;
width: 100%;
text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background: #3190E7;
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
}

section.testimonials {
  overflow: hidden;
}



/* 
.row.learn-technology {
  overflow: hidden;
}
.learn-technology .card-body{
  padding: 0px;
}
.learn-technology .testimonial {
  border: none !important;
  background: #FFFFFF;
  box-shadow: 0px 4px 25px rgb(0 0 0 / 10%);
  border-radius: 20px;
} */

 h6.nav-technology {
  padding-top: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
/* 
p.pre-technology {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 21px;
  color: #000000;
  margin-left: 15px;
  margin-right: 14px;
  cursor: pointer;
}
.card-eff {
  border-radius: 23px;
  background: #FFFFFF !important;
  box-shadow: 11px 9px 0px #016BF3 !important;
}
.card-body-eff{
  background: white;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
  */

 .demo {
  overflow: hidden;
}
#testimonial-slider .testimonial{
  padding: 0px 10px 10px 10px;
  background: #FFFFFF;
  box-shadow: 3px 10px 10px 4px #ded9d9;
  border-radius: 20px;
  border: 1px solid #eaeaea;
}
#testimonial-slider.owl-carousel .owl-item {
  padding: 0px 10px;
}
.testimonial .description {
  font-size: 14px;
  color: #777;
}
#testimonial-slider .owl-item{
  /* width: 324px !important; */
  height: 400px !important;
}

.owl-controls {
  margin-top: 20px;
}
.owl-pagination {
  display: flex;
  justify-content: center;
}

.owl-page {
  height: 10px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10%;
}

.owl-page:hover,
.owl-page.active {
  background-color: rgba(255, 255, 255, 0.3);
}

.owl-page:not(first-item) {
  margin-left: 10px;
}
.just-content{
  display: flex;
  margin-top: 3rem;
}
.media-position-content{
  display: flex;
}




                                       /* max-width: 320px   media Query  */

@media only screen and (max-width: 320px) {  
  .header-menu {
    display: none;
  } 
  .header-search input{
        width: 100%;
        height: auto;
  }
  h1.page-title {
    margin-top: 0 !important;
    font-size: 30px !important;
    line-height: 50px !important;
  } 
  .title-pre-text {
    font-weight: 300 !important;
    font-size: 18px !important;
    line-height: 30px !important;
  }
  .start-courses button{
    border-radius: 20px !important;
    padding: 17px 50px !important;
  }
  .start-courses {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
  .video-courses {
    padding-top: 10px !important;
    padding-left: 50px !important;
  }
  img.img-section {
    width: 100% !important;
    height: auto !important;
    padding-top: 35px !important;
  }
  .learn-text h2 {
    font-size: 28px !important;
    font-weight: 500 !important;
  }
  .container.hug-contents{
    margin: 0px !important;
  }
  #customers-testimonials .owl-prev{
    padding-left: 57px !important;
  }
  #customers-testimonials .owl-prev i {
    padding: 11px 15px !important;
    margin-top: 20px !important;
    margin-right: 10px !important;
  }
  #customers-testimonials .owl-next i{
    padding: 11px 15px !important;
    margin-top: 20px !important;
    margin-right: 10px !important;
  }
  h2.slider-technology {
    font-weight: 600 !important;
    font-size: 28px !important;
    line-height: 20px !important;
 }
  h6.nav-technology {
      padding-top: 50px;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #000000;
  }
  #testimonial-slider .owl-item {
    width: 260px !important;
    height: 345px !important;
  }
  .testimonial .description {
    font-size: 12px !important;
    line-height: 20px !important;
  }
  #testimonial-slider .owl-prev{
    padding-left: 84px !important;
  }
  #testimonial-slider .owl-prev i {
    padding: 11px 15px !important;
    margin-top: 40px !important;
    margin-right: 10px !important;
  }
  #testimonial-slider .owl-next i{
    padding: 11px 15px !important;
    margin-top: 40px !important;
    margin-right: 10px !important;
  }
  .carousel-caption.center-technology {
    width: 100% !important;
    height: auto!important;
    top: 60px !important; 
  }
  .center-technology h3 {
    font-size: 22px;
    line-height: 51px;
  }
  .Owl-Carousel-Slider img {
    width: 100% !important;
    height: 385px !important;
    object-fit: cover;
  }
  .img-contact img {
    width: 100% !important;
    height: auto !important;
  }
  h4.word-title {
    margin-top: 0px !important;
  }
  .round-img img {
    width: 100px !important;
}
  .col-sm-12.spacing-content{
    margin-top: 19px !important;
  }
  h4.word-technology {
    font-weight: 500 !important;
    font-size: 28px !important;
    line-height: 35px !important;
  }
  .copyright{
      padding-left: 0px !important;
   }
   .word p {
    font-size: 15px  !important;
    line-height: 15px !important;
    font-weight: 400 !important;
}
.social-media-icons i.fa {
  padding: 8px 10px  !important;
  font-size: 18px !important;
  border-radius: 50% !important;
  margin-right: 4px !important;
  margin-left: 4px !important;
}

}

                                 /* max-width: 480px   media Query  */

  @media only screen and (max-width: 480px) {  
  .header-menu {
    display: none;
  }
  img.img-section {
    width: 100% !important;
    height: auto !important;
  }
  .video-courses {
    padding-top: 10px !important;
    padding-left: 30px !important;
  }
  .img-contact img {
    width: 100% !important;
    height: auto !important;
  }
  img.img-contact {
    width: 100%;
    height: auto;
  }
  img.img-section {
    width: 100%;
    height: auto;
    padding-top: 35px;
  }
  .carousel-caption.center-technology {
    width: 100%;
    height: auto;
    top: 50px !important;
    left: 0 !important;
  }
  .Owl-Carousel-Slider img {
    width: 100% !important;
    height: 450px !important;
    object-fit: cover;
  }
  h1.page-title {
    margin-top: 0 !important;
    font-size: 35px;
      line-height: 50px;
  }
  .center-technology h3 {
    font-size: 36px !important;
    line-height: 47px !important;
  }
  .center-technology p {
    font-size: 18px !important;
    line-height: 30px !important;
    padding: 10px 10px !important;
  }
  .col-sm-9.d-flex.justify-content-center {
    display: inline !important;
  }
  p.line-technology {
    font-size: 15px;
  }
  .view-images-sec {
    width: 100%;
    height: -webkit-fill-available;
    right: 0%;
    background: rgba(36, 215, 255, 0.5);
    border: none;
    border-radius: 50%;
    position: absolute;
    padding: 0 ;
  }
  .view-bar.d-flex {
    display: block !important;
  }
  .view-bar.d-flex .view-image {
    margin-bottom: 30px !important;
  }     

}

                                       /* max-width: 575px   media Query  */


 @media only screen and (max-width: 575px) {  
  .header-menu {
    display: none;
  }
  h1.page-title {
    font-size: 35px;
    line-height: 60px;
    margin-top: 0px;
  }
  img.img-section {
    width: 100%;
    height: auto;
    padding-top: 25px;
  }
  .view-bar{
    display: block !important;
  }
  .img-contact img {
    width: 100%;
    height: auto;
  }
  .img-contact img {
    width: 100%;
    height: auto;
  }
   .Owl-Carousel-Slider img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .carousel-caption.center-technology {
    width: 100%;
    height: auto;
    top: 0%;
    left: 0% !important;
    padding: 5px 5px;
   }
   .center-technology p {
    font-size: 18px;
    line-height: 33px; 
  }
  p.line-technology {
    font-size: 14px;
  }
  .main-content .d-flex.justify-content-center {
    display: block !important;
}


}


@media only screen and (max-width: 768px) { 
  .header-menu {
    display: none;
   }

   #testimonial-slider .owl-item {
    width: 345px !important;
    height: 400px !important;
    }
    .Owl-Carousel-Slider img {
      width: 100%;
      height: auto;
      object-fit: cover;
  }
  .carousel-caption.center-technology {
    width: 100%;
    height: auto;
    top: 15%;
    left: 0% !important;
    padding: 10px 10px;
 }
 .center-technology h3 {
  font-size: 35px;
  }
  .img-contact img {
    width: 100%;
    height: auto;
  }

  img.img-section {
    width: 100%;
    height: auto;
  }
  .just-content {
    display: block ;
    margin-top: 0px;
  }
  .social-media-icons i.fa {
    padding: 15px 15px;
    font-size: 24px;
    margin: 3px 5px!important;
}
  span.text-white.copyright{
    font-size: 15px;
  }
  .col-sm-5.list-content {
    max-width: 410px;
    margin: 0 auto;
 }



}


@media only screen and (max-width: 1024px) { 
  .header-menu {
    display: none ;
   }
  .Owl-Carousel-Slider img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .carousel-caption.center-technology {
    width: 702px;
    height: auto;
    top: 14%;
    left: 16% !important;
  }
  .just-content {
    display: block;
    margin-top: 0px;
 }
}














.dropdown-content{
  background-color: rgb(40, 42, 53);
  color: #FFF4A3;
  display: none;
}
a.dropdown-link{
  color: #fff;
}

h3.dropdown-heading {
  margin-top: 16px;
  font-size: 22px;
  margin-bottom: 22px;
}
a.dropdown-link {
  padding: 2px 0 4px 2px ;
  font-size: 17px;
  width: 100%;
  font-weight: 500;
}
.dropdown-content-text{
    margin-bottom: 25px;
}







